h1 {margin-bottom:0;}
#encabezado {background-color:#ddf0a4;}
#contenido {background-color:#EEEEEE;height:600px;}
#pie {background-color:#ddf0a4;color:#ff0000;height:30px;}
th{
	margin: 0.1vw;
	color: #70c0ff;
	border-style: dashed;
	border-color: #70c0ff;
	border-width:2px
}
td{
	margin: 0.1vw;
	color: #70c0ff;
	border-style: dashed;
	border-color: #70c0ff;
	border-width:1px
}